@tailwind base;
@tailwind components;

.container {
    @apply max-w-7xl mx-auto;
}
a[data-as-button="true"] {
    background-color: theme("colors.gray.900");
    color: white !important;
    text-decoration: none;
    display: inline-block;
    @apply rounded-md py-2 px-5 mx-4;

    &[data-as-button-theme="primary"] {
        background-color: theme("colors.primary.600");
    }

    &[data-as-button-theme="secondary"] {
        background-color: theme("colors.warning.600");
    }

    &[data-as-button-theme="tertiary"] {
        background-color: theme("colors.success.600");
    }

    &[data-as-button-theme="accent"] {
        background-color: theme("colors.danger.600");
    }
}

.filament-tiptap-grid,
    .filament-tiptap-grid-builder {
        display: grid;
        gap: 2rem;
        box-sizing: border-box;
        margin-bottom: 2rem;

        .filament-tiptap-grid__column,
        .filament-tiptap-grid-builder__column {
            > :first-child {
                margin-block-start: 0;
            }
        }
    }

    @media (max-width: theme('screens.sm')) {
        .filament-tiptap-grid-builder[data-stack-at="sm"] {
            grid-template-columns: 1fr !important;

            .filament-tiptap-grid-builder__column {
                grid-column: span 1 !important;
            }
        }
    }

    @media (max-width: theme('screens.md')) {
        .filament-tiptap-grid-builder[data-stack-at="md"] {
            grid-template-columns: 1fr !important;

            .filament-tiptap-grid-builder__column {
                grid-column: span 1 !important;
            }
        }
    }

    @media (max-width: theme('screens.lg')) {
        .filament-tiptap-grid-builder[data-stack-at="lg"] {
            grid-template-columns: 1fr !important;

            .filament-tiptap-grid-builder__column {
                grid-column: span 1 !important;
            }
        }
    }

@tailwind utilities;
